*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container{
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    color: #fff;
    position: absolute;
    top: 25%;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 65%;
    width: 100%;
}

.container h1{
    font-size: 4rem;
    margin-bottom: 40px;
    text-shadow: 4px 4px #61dafb;
    transform: translateX(0px);
    animation: float 4s ease-in infinite;
}
@keyframes float {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateX(0px);
    }
}

.container input[type="text"],.container input[type="email"],.container textarea[id="mensaje"]{
    background: none;
    color: white;
}


.div-listado h2{
    font-size: 3.5rem;
    text-shadow: 4px 4px #61dafb;
    transform: translateX(0px);
    animation: float2 4s ease-in infinite;
}

@keyframes float2 {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media screen and (min-width: 866px)  and (max-width: 1650px) {
    .container2{
        top: 70%;
    }
}

@media screen and (min-width: 476px) and (max-width: 865px) {
    .container{
        top: 15%;
    }
    .container2{
        top: 70%;
    }
}


@media screen and (min-width: 366px) and (max-width: 475px) {
    .container{
        top: 15%;
    }
    .container h1{
        font-size: 3rem;
    }
    .container2{
        top: 64%;
    }
    .div-listado h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 365px) {
    .container{
        top: 15%;
    }
    .container h1{
        font-size: 2.8rem;
    }
    .container2{
        top: 66%;
    }
    .div-listado h2{
        font-size: 2.6rem;
    }
}